.Header-Container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-negative: 0;
}

@media (max-width: 300px) {
  .Header-Container {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}