@keyframes Anim-Foo {
  0% {
    width: 0px;
    -webkit-transform: translate(100px);
    transform: translate(100px);
  }
  100% {
    width: 100px;
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
}
@-webkit-keyframes Anim-Foo {
  0% {
    width: 0px;
    -webkit-transform: translate(100px);
    transform: translate(100px);
  }
  100% {
    width: 100px;
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
}
.Header-Container {
  -webkit-animation: Anim-Foo 1s infinite linear;
  animation: Anim-Foo 1s infinite linear;
}
