@keyframes Anim-Foo {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
@-webkit-keyframes Anim-Foo {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
.Header-Container {
  animation: Anim-Foo 1s infinite linear;
  -webkit-animation: Anim-Foo 1s infinite linear;
}
