.PREFIX .foo, .PREFIX .bar {
  display: block;
}
.PREFIX .foo.baz, .PREFIX .bar.baz {
  color: #fff;
}
.PREFIX .Foo-Bar {
  color: red;
}
@media screen {
  .PREFIX .Foo-Bar {
    color: blue;
  }
}
.PREFIX .Foo-Bar .foo, .PREFIX .Foo-Bar .bar {
  display: block;
}
.PREFIX .Foo-Bar .foo.baz, .PREFIX .Foo-Bar .bar.baz {
  color: #fff;
}
@media screen {
  .PREFIX .Foo-A:last-child .Foo-B:last-child .Foo-C {
    color: black;
  }
}
