@namespace;

.foo, .bar {
  display: block;

  &.baz {
    color: #fff;
  }
}

@namespace Foo;

Bar {
  color: red;
  @media screen {
    color: blue;
  }
  .foo, .bar {
    display: block;

    &.baz {
      color: #fff;
    }
  }
}
