.Bug-Child {
  width: 100px;
  height: 100px;
  background: purple;
}
.Bug-SomeComponent:first-child .Bug-Child {
  outline: 3px solid red;
}
@media (max-width: 100px) {
  .Bug-SomeComponent:first-child .Bug-Child {
    outline: 0;
  }
}
.Bug-SomeComponent {
  position: fixed;
}
.Bug-SomeComponent .Bug-Child {
  background: blue;
}